html {
	height: 100vh;
	width: 98vw;
}
body {
	background: #161616;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.outerBox {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
}

.innerBox {
	display: inline-block;
	-webkit-box-shadow: 0 0 50px 10px #6441A5;
	-moz-box-shadow: 0 0 50px 10px #6441A5;
	box-shadow: 0 0 50px 10px #6441A5;
	width: 1000px;
	min-height: 98%;
	background: #F1F1F1;
}

.leftColumn {
	float: left;
	width: 200px;
	height: 100%;
	margin: 0px;
	padding: 5px;
	text-align: left;
}

.rightColumn {
	float: left;
	width: 750px;
	height: 100%;
	margin: 0px;
	padding: 5px;
	padding-top: 20px;
	text-align: left;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #262626;
}

.menuText {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #262626;
	font-weight: bold;
}


.streamKoalaName {
	font-family: 'Verdana', Arial, sansa-serif;
	color: #6441A5;
	font-weight: bold;
	font-size: xx-large;
}

.nameArea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #262626;
	text-align: center;
}

.contentHeader {
	font-weight: bold;
	font-size: large;
	margin-bottom: 0px;
	margin-top: 30px;
	padding: 0px;
}

.content {
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 15px;
}

.changeLogDate {
	font-style: italic;
}

.notype {
	list-style-type: none;
}

a, a:link, a:visited {
	color: #6441A5;
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:active {
	color: #6441A5;
	text-decoration: underline;
	font-weight: bold;
}