
html {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	background: #161616;
	margin: 0px;
	padding: 0px;
}

form {
	text-align: left;
	font-weight: bold;
}

.lowerbox {
	width: 100%;
	height: calc(100vh - 50px);
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}

.viewerType {
	color: #606060;
	font-weight: bold;
}

.streamKoalaName {
	font-family: 'Verdana', Arial, sansa-serif;
	color: #6441A5;
	font-weight: bold;
	font-size: large;
}

.moduleBox {
	float: left;
	width: 12%;
	height: 100%;
	max-height: 100%;
	display: block;
	margin: 5px;
	padding: 0px;
}

.moduleTop {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 30px;
	background: #323232;
	padding-top: 10px;
	padding-bottom: 0px;
	margin: 0px;
	color: #d3d3d3;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.moduleBottom {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: small;
	overflow: auto;
	display: block;
	height: calc(100% - 42px);
	background: #1e1e1e;
	padding-left: 5px;
	margin: 0px;
	color: #d3d3d3;
}

#nameArea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #262626;
	text-align: center;
}

#nameAreaBox {
	border-radius: 25px;
	border: 4px solid #6441A5;
	padding: 20px;
	height: 300px;
	width: 300px;
	display: inline-block;
	background: #F1F1F1;
	font-size: small;
	margin-top: 50px;
	padding-top: 0px;
}

#userinfo {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #d3d3d3;
	background: #1e1e1e;
	width: 100%;
	max-width: 100%;
	height: 20px;
	padding: 5px;
	padding-left: 10px;
	margin: 0px;
	margin-bottom: 5px;
}

#twitchChat {
	float: left;
	width: 30%;
	height: 100%;
	margin: 5px;
	margin-left: 10px;
	display: none;
}

#taRecentEvents {
	float: left;
	width: 25%;
	height: calc(100% - 1px);
	margin: 5px;
	padding-top: 1px;
}